<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="bmwCar" class="com.spring.aop.BWMCar" />
	<bean id="benzCar" class="com.spring.aop.BenzCar" />
	
	<bean id="timeHandler" class="com.spring.aop.TimeHandler" />

	<aop:config>
		<aop:aspect id="time" ref="timeHandler">
			<aop:pointcut id="addAllMethod" expression="execution(* com.spring.aop.Car.*(..))" />
			<aop:before method="printTime" pointcut-ref="addAllMethod" />
			<aop:after method="printTime" pointcut-ref="addAllMethod" />
		</aop:aspect>
	</aop:config>

</beans>
